
<div class="search-bar">
    <!-- search -->
    <div>
        <input type="text" name="search" #search
        placeholder="Buscar productos" (keyup.enter)="searchProduct(search.value,$event)">
        <button class="gray icon-search" type="button"
        (click)="searchProduct(search.value,$event)">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <!-- add -->
    <a  (click)="goToAddProduct()"
        [routerLink]="['/home/create']" class="button bg-primary">
        <i class="fas fa-plus"></i>| Añadir producto</a>
</div>
