.container{
    position: relative;
    display: grid;
    grid-template-columns: 15% 1fr;
}
.sidebar{
    height: auto;
    color: white;
    background-color: var(--sidebar);
}

.title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 100px;
    .title-bar-inner{
        font-weight: 800;
    }
}
