<div class="products">
    <h3 class="products-title">Listado de Productos</h3>
    <table class="products-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Inventario</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="product">
                    <img src="#" class="product-img">
                    <div class="product-description"> 
                        <p>Nike Adapt BB02 
                            <br><span>84% poliester,16% Elastico</span>
                        </p>
                    </div>
                </td>
                <td>Zapatos</td>
                <td>324.97</td>
                <td>30</td>
                <td>En Stock</td>
                <td class="action-buttons">
                    <i class="fas fa-pencil-alt"></i>
                    <i class="fas fa-trash"></i>
                </td>
            </tr>
            <tr>
                <td class="product">
                    <img src="#" class="product-img">
                    <div class="product-description"> 
                        <p>Nike Adapt BB02 
                            <br><span>84% poliester,16% Elastico</span>
                        </p>
                    </div>
                </td>
                <td>Zapatos</td>
                <td>324.97</td>
                <td>30</td>
                <td>En Stock</td>
                <td class="action-buttons">
                    <i class="fas fa-pencil-alt"></i>
                    <i class="fas fa-trash"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
