<div class="products">
    <h3 class="products-title">Listado de Productos</h3>
    <table class="products-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Inventario</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td class="product">
                    <img src="{{imagePath+'/'+product._id+'/image'}}" class="product-img"
                        alt="{{product.image}}">
                    <div class="product-description"> 
                        <p>{{product.title}} 
                            <br><span>{{product.description}}</span>
                        </p>
                    </div>
                </td>
                <td>{{product.category.title}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td class="stock"
                    [ngClass]="{
                        'stock-green':product.existences==='stock', 
                        'stock-yellow':product.existences==='limited', 
                        'stock-red':product.existences==='out-stock'
                    }"
                >{{this.getText(product.existences)}}</td>
                <td class="action-buttons">
                    <a [routerLink]="['/home/update',product._id]" >
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <i class="fas fa-trash" (click)="deleteProduct(product._id)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
