@import "../../styles/mixins";
.products{
    @include main-content;
}
.products-table{
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    tbody{
        tr{
            border-bottom: 0.5px solid rgba(128, 128, 128, 0.425) ;
        }
    }
    td{
        text-align: center;
    }
    .product{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        .product-img{
            width: 75px;
            height: 50px;
        }
        .product-description{
            span{
                color: gray;
                font-size: 10px;
            }
        }

    }
    .action-buttons{
            cursor: pointer;
            color: gray;
            background-color: white;
            i{
                margin: 0 0.5rem;
            }
        }

}
.stock{
    position:relative
}

.stock-green{
    font-weight: 600;
    color: rgb(23, 165, 23);
}
.stock-green::before{
    @include circle(rgb(23, 165, 23));
}
.stock-red::before{
    @include circle(rgb(221, 19, 19));
}
.stock-yellow::before{
    @include circle(rgb(226, 226, 14));
}
.stock-red{
    font-weight: 600;
    color: rgb(221, 19, 19);
}
.stock-yellow{
    font-weight: 600;
    color: rgb(226, 226, 14);
}