<div class="products">
    <h3 class="products-title">Listado de Productos</h3>
    <table class="products-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th class="none">Categoria</th>
                <th class="none">Precio</th>
                <th class="none">Cantidad</th>
                <th class="">Inventario</th>
                <th >Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td class="product">
                    <!-- <img src="{{imagePath+'/'+produc}t._id+'/image'}}" class="product-img" -->
                    <img    
                            [src]="product.image" class="product-img"
                        alt="{{product.image}}">
                    <div class="product-description"> 
                        <p>{{product.title}} 
                            <br><span class="text-left">{{product.description}}</span>
                        </p>
                    </div>
                </td>
                <td class="none">{{product.category.title}}</td>
                <td class="none">{{product.price}}</td>
                <td class="none">{{product.quantity}}</td>
                <td class="stock"
                    [ngClass]="{
                        'stock-green':product.existences==='stock', 
                        'stock-yellow':product.existences==='limited', 
                        'stock-red':product.existences==='out-stock'
                    }"
                >{{this.getText(product.existences)}}</td>
                <td class="action-buttons">
                    <a [routerLink]="['/home/update',product._id]" >
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    
                    <button [swal]="{title:'Elminacion de Registro',showCancelButton: true,cancelButtonText:'Cancelar'}"
                    (confirm)="deleteProduct(product._id)">
                        <i class="fas fa-trash"></i>
                    </button>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>
