// glogal styles
@import './app/styles/config';
:root{
    --sidebar:   #0c2556;
    --body:      #f3f7f9;
    --primary:   #0da2ff;
    --secondary: #6bc048;
}
.center{
    text-align: center;
    display: block;
}

.bg-primary{
    background-color: var(--primary);
    color: white;
}
.bg-secondary{
    background-color: var(--secondary);
    color: white;
}
.gray{
    color: gray;
}
.text-right{
    display: block;
    text-align: right;
}
.text-left{
    display: block;
    text-align: left;
}
